body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: sans-serif;
}
ul {
    padding: 0px!important;
}
.menu-principal {
    width: 100%;
    background-color: #252323;
    height: 60px;
}
main, .content {
    margin: 0 auto;
    width: 71.74231332357247%;
    position: relative;
}
.logo{
    float: left;
    padding-top: 16px;
    width: 10%;
}
.redes-sociais ul li {
    margin-left: 23px;
    display: inline-block;
    list-style: none;
}
.redes-sociais {
    width: 90%;
    float: right;
}
.redes-sociais ul {
    float: right;
}
    
.header-2 {
    background-color: #fff;
    width: 71%;
    margin: 0 auto;
    padding-top: 12px;
}
.menu-urls {
    height: 80px;
    border-bottom: 3px solid #efefef;
}
.menu ul li {
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;
    height: 51px;
}
.menu ul li:hover {
    border-bottom: 2px solid #00bac6;
}
.menu ul li a:hover {
    color: #00bac6;
}
.menu ul li a {
    color: #8b8b8b;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
}
.menu {
    width: 80%;
    float: left;
}
.toggle {
    width: 80%;
    padding: 10px 20px 0px 0px;
    text-align: left;
    box-sizing: border-box;
    font-size: 30px;
    display: none;
    }
    form {
	display: inline-block;
	width: 20%;
	background-color: #d4d1c9;
	border-radius: 5px;
	top: 9px;
    	position: relative;
	float: right;
    }
    form > input {
	border: none;
	width: 71%;
    	height: 34px;
	background-color: #d4d1c9;
	border-radius: 5px;
	padding-left: 8px;
    }
    form > button {
	background: royalblue;
	border: none;
	background-image: url(../img/icone-search.png);
    	background-repeat: no-repeat;
    	height: 34px;
	width: 38px;
	float: right;
	border-radius: 0px 5px 5px 0px;
	background-position: center
    }
.col-100 {
    width: 100%;
    float: left;
    position: relative;
}
.slick-slide {
    display: none;
    float: left;
    height: 454px;
    min-height: 1px
}
button.slick-prev {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url(../img/prev.png);
    top: 45%;
    left: 13%;
}
button.slick-next {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url(../img/next.png);
    top: 45%;
    right: 13%;
}

.slick-initialized {
    overflow: hidden;
}
.slick-dots li button {
    font-size: 0px;
    border: 3px solid #fff;
    width: 14px;
    height: 14px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
}
.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 45%;
    top: 415px;
}
li.slick-active button {
    background-color: #00bac6;
}
.slick-dots li {
    padding-left: 8px;
    display: inline-block;
}

.texto-destaque {
    text-align: center;
}

.texto-destaque strong {
    color: #646464;
}

.texto-destaque h1 {
    text-transform: uppercase;
    font-size: 30px;
    color: #818181;
    margin-top: 57px;
}

.texto-destaque p {
    font-size: 15px;
    color: #9a9a9a;
    margin-top: 32px;
}

.col-3 {
    width: 28%;
    float: left;
    position: relative;
    margin-top: 28px;
}

.col-3 h3 {
    font-size: 20px;
    color: #7b7b7b;
}

.col-3 p {
    font-size: 14px;
}

.marg {
    margin-right: 07.75510204081633%;
}

.imagens {
    display: flex;
}

.bloco-imagem img {
    margin: 0 auto;
    width: 100%;
    height: 184px;
}
.bloco-imagem {
    height: 278px;
    border: 1px solid #c5c5c5;
    width: 308px;
}
.bloco-imagem p {
    text-align: left;
    color: #818181;
    padding-left: 07.79220779220779%;
}
.bloco-texto {
    margin-top: 37px;
}
h3 {
    font-weight: normal!important;
}
.bloco-imagens-texto {
    background-color: #eee;
}
.bloco-imagens-texto:before {
    width: 100%;
    display: inline-block;
    content: '';
    height: 52px;
    background: #fff;
    background-image: url('../img/setinha.png');
    background-repeat: no-repeat;
    background-position: center;
}
.bloco-imagens-texto:after {
    width: 100%;
    display: inline-block;
    content: '';
    height: 47px;
    background: #eee;
}
.col-4 {
    float: left;
    width: 14%;
    text-align: center;
}
.col-4 img {
    cursor: pointer;
    margin: 0 auto;
    padding-top: 1em;
    vertical-align: middle;
}
col-4 img:hover {
    margin-top: 10px!important;
    position: relative!important;
}

.bloco-logos {
    padding-bottom: 49px;
}

.bloco-logos img {
    margin-top: 50px;
}

.footer h3 {
    text-align: left;
}

.footer {
    background-image: url('../img/footer.png');
    color: #fff;
}

.footer-2 {
    background-image: url('../img/footer2.png');
    color: #c1c1c1;
    height: 90px;
}

.footer p {
    width: 90%;
    text-align: left;
}

.footer-2 p {
    padding-top: 19px;
}

.clock {
    color: #898989!important;
}

.clock:before {
    content: '';
    width: 15px;
    height: 15px;
    display: inline-block;
    background-image: url('../img/clock.png');
    float: left;
    background-repeat: no-repeat;
    padding-left: 5px;
}

.local:before, .emailico:before, .telefoneico:before {
    content: '';
    width: 17px;
    height: 17px;
    display: inline-block;
    float: left;
    background-repeat: no-repeat;
    padding-left: 5px;
}
.local:before {
    background-image: url('../img/local.png');
}  
.emailico:before {
    background-image: url('../img/emailico.png');
}  
.telefoneico:before {
    background-image: url('../img/telefoneico.png');
}

.blm {
    margin: 37px 01.93877551020408% 11px 01.93877551020408%;
}

.log {
    margin-right: 14.48979591836735%;
}

.foo {
    width: 25%;
    padding-top: 39px;
}

.redes-sociais-2 ul li {
    margin-left: 23px;
    display: inline-block;
    list-style: none;
}
.redes-sociais-2 {
    float: right;
    margin-top: 14px;
    display: inline-block;
}
.pa:before {
    content: '\00A9';
}
.pa {
    width: 58%;
    display: inline-block;
}

@media screen and (max-width: 950px) {
    
    .imagens {
        display: block;
    }
    .blm {
        margin: 37px 0px 11px 0px;
    }
    .medium {
        margin-left: 2%;
    }
    .blogo-logos {
        padding-bottom: 32px;
    }
    .bloco-logos img {
        width: 137px;
        margin-top: 28px;
    }
    .log {
        margin-top: 14px;
    }
    form > input {
	width: 66%;
    }
}

@media screen and (max-width: 900px) {
    .slick-dots li {
        display: none;
    }
    .tablet {
        display: contents;
    }
    .foo {
        width: 39%;
        padding-top: 7px;
        padding-left: 56px;
    }
    .imagens {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .medium {
        margin-left: 0%;
    }
    .excluir {
        display: none;
    }
    .slick-slide {
        height: 415px;
    }
    .toggle {
	width: 10px;
        display: block;
    }
    .menu {
	width: 10%;
    }
    .menu ul {
        width: 121px;
        height: 180px;
        display: none;
        z-index: 1;
        text-align: center;
        background-color: #fff;
	position: relative;
	top: -15px;
        left: 15px;
	border: 2px solid black;
    }
    .menu ul li {
        display: block;
        text-align: center;
        height: 31px;
	margin: 0 auto;
    }
    .menu ul li:hover {
    border-bottom: none;
    }
    .active {
        display: block!important;
    }
    form {
	width: 30%;
    }
}
@media screen and (max-width: 730px) {
    .slick-slide {
	height: 372px;
    }
    .bloco-logos img {
	width: 101px;
    }
    .foo {
	display: contents;
    }
}

@media screen and (max-width: 650px) {
    .redes-sociais-2 {
	display: none;
    }
    .redes-sociais {
	display: none;
    }
    .pa {
	width: 100%
    }
    .bloco-logos {
	display: none;
    }
    .slick-slide {
    height: 303px;
    }
    .logo {
	width: 100%
    }
    form {
	width: 42%;
    }
}

@media screen and (max-width: 450px) {
    .slick-slide {
    height: 200px;
    }
    .logo {
	width: 100%;
	text-align: center;
    }
    form {
	width: 57%;
    }
}
@media screen and (min-width: 1360px) {
    main, .content {
	width: 1060px;
    }
    .header-2 {
	width: 1060px;
    }
    .slick-slide {
	height: 601px;
    }
    .slick-dots {
	left: 47%;
	top: 538px;
    }
    .bloco-imagem {
	width: 32.056604%;
    }
}
